* body { margin: 0; padding: 0; }

.wrapper { margin: 10px }

#toc_container {
    background: #F5E6CC none repeat scroll 0 0;
    border: 1px solid #F5E6CC;
    display: table;
    font-size: 95%;
    margin-bottom: 5px;
    padding: 5px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}